/*--===== Start Forget Password Section Here =====--*/
#forget_password_section {
    @extend #singin_section;

    .section_box {
        .singin_info {
            .form_box {
                .label_box {
                    a {
                        margin-top: 20px;


                        p {
                            color: $primary_color;
                            transition: 0.4s;
                        }

                        &:hover {
                            p {
                                color: $item_bg_color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*--===== Start Forget Password Section Here =====--*/