/*--=====Start Color Variable Here =====--*/
$primary_color: #ff7c08;
$white_color: #ffffff;
$item_bg_color: #231f40;
$paragraph_color: #484747;
$section_bg_color: #eef6eb;
$bg_color: #f1effd;
$item_hover_color: #f8f8f8;
$black_color: #000000;
$red_color: #f70000;
$toggler_border_1: #0b89ff;
$toggler_border_2: #e90505;
$toggler_border_3: #038992;
$toggler_border_4: #c50870;
$toggler_border_5: #b100f7;
$toggler_border_6: #dd4509;


/*--===== End Color Variable Here =====--*/




/*--===== Start Font Variable Here =====--*/



/*--===== End Font Variable Here =====--*/




/*--===== Start Padding Variable Here =====--*/

$innertop_padding: 46px 0 0 0;
$section_padding: 100px 0;
$item_padding: 45px 30px;

/*--===== End Padding Variable Here =====--*/




/*--=====Start Font Variable Here =====--*/



/*--=====Start Font Variable Here =====--*/